/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/

//
 @use "uswds-core" with (
   $theme-image-path: "../images",
   $theme-font-path: "../fonts",
   
   $theme-font-type-sans: "public-sans",
   $theme-color-base-dark:  #565C65,
   $theme-color-base-darker: #323a45,
   $theme-identifier-background-color:'base-darker',
   $theme-identifier-primary-link-color: 'base-lightest',
   $theme-identifier-secondary-link-color: 'base-lightest',
   $theme-color-base-lightest: #f0f0f0,
   //$theme-summary-box-background-color: 'base-lightest',
   $theme-summary-box-border-color:'accent-cool-darker',
 );

