---
import { getEntry } from 'astro:content';
import PageContentLayoutWideScreen from '@layouts/PageContentLayoutWideScreen.astro';
import PageLayout from '@layouts/PageLayout.astro'


const entry = await getEntry('events-training', 'index');
const { Content, headings } = await entry.render();

---
<PageLayout title={entry.data.title} description={entry.data.description}>
    <PageContentLayoutWideScreen title={entry.data.title}>
        <div class="usa-prose">
            <Content />
        </div>
    </PageContentLayoutWideScreen>
</PageLayout>