---
/**
 * A component that defines a single list item in a USWDS Item List
 * 
 * @prop {String=arrow_forward} icon - the name of an uswds svg sprite to use for the icon.
 */
 const { icon = "arrow_forward"} = Astro.props;
---
<li class="usa-icon-list__item">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        <use xlink:href=`${import.meta.env.BASE_URL}images/sprite.svg#${icon}`></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
        <slot />
    </div>
</li>