---
/**
 * The primary menu navigation for all pages
 */ 

import GSALogo from '@assets/images/gsa-logo.svg'
import closeIcon from '@assets/images/usa-icons/close.svg'

import searchIcon from "@assets/images/usa-icons/search--white.svg"
import PrimaryMenu from '@components/PrimaryMenu.astro';
---


<header class="usa-header usa-header--extended">
    <div class="usa-navbar oasis-navbar">
      <div class="usa-logo" id="header-logo">
        <a href={`${import.meta.env.BASE_URL}`}>
            <img class="usa-logo-img" src={GSALogo.src} alt="GSA Logo" title="U.S. General Services Administration" />
            <em class="usa-logo__text text-base-dark">
                General Services Administration
            </em>
        </a>
      </div>
      <button type="button" class="oasis-menu-button usa-menu-btn cursor-pointer">Menu</button>
    </div>
    
    <nav aria-label="Primary navigation" class="oasis-nav-drawer usa-nav">
      <button type="button" class="usa-nav__close">
        <img src={ closeIcon.src } alt="Close" />
      </button>
      
      <div class="usa-nav__inner">
       <div class="usa-nav__secondary oasis-nav__secondary">
            <a class="oasis-perdiem-link" href="#">
              Per Diem Lookup
            </a>
          
          <section aria-label="Search component">
            <form class="usa-search usa-search--small" role="search" action="https://search.usa.gov/search" accept-charset="UTF-8" method="get">
              <input type="hidden" name="affiliate" id="affiliate"  autocomplete="off" />
              <label class="usa-sr-only" for="query">Search</label>
              <input
                class="usa-input"
                id="query" 
                autocomplete="off"
                type="search"
                name="query"
              />
              <button class="usa-button" type="submit">
                <img
                  src={searchIcon.src}
                  class="usa-search__submit-icon"
                  alt="Search"
                />
              </button>
            </form>
          </section>
        </div>
        <PrimaryMenu />
        
      </div>
    </nav>
  </header>
  