---
import { getEntry } from 'astro:content';
import { slug } from 'github-slugger';

const domains = await getEntry('data', 'naics_codes_by_domain');
---
<div style="overflow-x: scroll;">

{
  domains.data.map(domain => (
    <h2 id={ slug(domain.name) }><img src={`${import.meta.env.BASE_URL}${domain.icon}`} aria-hidden="true" alt="" />{ domain.name } ({ domain.shortName })</h2>

    <table class="usa-table usa-table--borderless margin-x-neg-1 tablet:margin-x-0">
      <thead>
        <tr>
          <th>Domain</th>
          <th>NAICS code and title</th>
          <th>Size standard</th>
        </tr>
      </thead>
      <tbody>
        {
          domain.naics.map(naics => (
            <tr>
              <td>{ domain.shortName }</td>
              <td>{ naics.codeAndTitle }</td>
              <td>{ naics.sizeStandard }</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  ))
}
</div>
<style>
  h2 {
    display: flex;
    align-items: center; 
  }
  h2 img {
    margin-right: .5em;
  }
  td {
    padding: .5rem .5rem !important;
  }
  @media screen and (max-width: 768px) {
    td {
      hyphens: auto
    }
  }
</style>