
<footer class="usa-footer usa-footer--slim">
    <div class="usa-footer__primary-section padding-y-1">
        <div class="usa-footer__primary-container grid-row flex-align-center border-x-2px flex-justify-center maxw-tablet-lg" style="gap:1em">  
               <h3>
                <svg class="usa-icon text-primary" aria-hidden="true" role="img" style="vertical-align: -8%">
                    <use xlink:href="/images/sprite.svg#help_outline"></use>
                </svg>
                Need help with OASIS+?</h3>
                We're here to answer your questions.
               <a class="usa-button " href="javascript:void(0);">Contact us</a>
        </div>
      </div>
</footer>