
<footer class="usa-footer usa-footer--slim">
    <div class="usa-footer__primary-section padding-y-1 text-center">
        <div class="centeredbox usa-footer__primary-container grid-row flex-align-center border-x-2px border-primary flex-justify-center maxw-tablet-lg" 
        >  
            <h3>
            <svg class="usa-icon text-primary" aria-hidden="true" role="img">
                <use xlink:href="${import.meta.env.BASE_URL}images/sprite.svg#help_outline"></use>
            </svg>
            Need help with OASIS+?</h3>
            We're here to answer your questions.
            <a class="usa-button " href="javascript:void(0);">Contact us</a>
        </div>
      </div>
</footer>

<style>
    .centeredbox {
        gap:1em; 
        display:inline-flex; 
    }
    .centeredbox svg {
        vertical-align: -8%
    }
</style>