---
// Component that used in mdx that support USWDS summary box styles. UI example: Buyers guide bottom section
const {header} = Astro.props;
---
<div
  class="usa-summary-box oasis-summary"
  role="region"
  aria-labelledby="summary-box-key-information"
>
  <div class="usa-summary-box__body">
    <h3 class="usa-summary-box__heading" id="summary-box-key-information">
     {header}
    </h3>
    <div class="usa-summary-box__text">
        <slot />
    </div>
  </div>
</div>