---
const {headings = null } = Astro.props;
---
<p><b>In this section:</b></p>
{headings
    .filter(h => h.depth == 2)
    .map(h => (
      <li class="">
        <a
          href={`#${h.slug}`}
        >
          {h.text}
        </a>
      </li>)
  )}