
.oasis-cta-section {
    @include u-padding-y(4);
  }
  
  .oasis-cta-section__inner {
    @include grid-row;
    @include grid-gap(lg);
  }
  
  .oasis-cta-section__hero {
    border-radius: 4px;
    background: rgba(217, 232, 246, 0.50);
    min-height: 280px;
    width: 100%;
    @include at-media(tablet) {
      @include grid-col(6);
      
    }
  }
  
  .oasis-cta-section__hero-images {
    height: 100%;
  }
  
  .oasis-cta-section__hero-image {
    margin: auto;
    img {
      height: 200px; // responsive svg needs a dimension
    }
  }
  
  .oasis-cta-section__content {
    @include at-media(tablet) {
      @include grid-col(6);
    }
  }
  