---
import BaseLayout from "@layouts/BaseLayout.astro";
const { title, description, lastModified } = Astro.props;

---
<BaseLayout title={title} description={description} lastModified={lastModified}>
  <section class="grid-container usa-section">
    <div class="grid-row grid-gap">
      <slot />
    </div>
  </section>
</BaseLayout>