---
import BaseLayout from "@layouts/BaseLayout.astro";
import LastModified from "@components/LastModified.astro"
const { title, description, lastModified=undefined } = Astro.props;

---
<BaseLayout title={title} description={description}>
  <section class="grid-container usa-section">
    <div class="grid-row grid-gap">
      <slot />
    </div>
  </section>
  {lastModified && (
  <LastModified lastModified={lastModified} />
  )}
</BaseLayout>